@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700;900&display=swap');

.component_0 {
  background-image: url('../assets/background.png');
  background-repeat: no-repeat;
  background-position: center;
}

.component_0 header nav {
  display: flex;
}

.component_0 header nav ul {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  justify-content: space-evenly;
  padding-top: 50px;
  padding-left: 165px;
}

.component_0 header nav ul li a {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
}

.component_0 header nav ul li a:hover {
  text-decoration: underline 2px;
}

.component_0 header nav p {
  padding-top: 45px;
  padding-left: 267px;
}
.component_0 header nav p a {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 16px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
}

.component_1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}
.component_1 img {
  height: 63px;
  width: 63px;
}
.component_1 h1 {
  color: #fff;
  font-size: 48px;
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
  text-align: center;
  line-height: 64px;
  margin-top: 13px;
}

.component_1 h2 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: normal;
  color: rgba(255, 255, 255, 0.7);
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  margin-top: 42px;
}
.component_2 {
  background-color: #eeeeee;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.component_2 h2 {
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
  font-size: 48px;
  line-height: 64px;
  text-align: center;
  color: #464547;
}

.component_2 h3 {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #666666;
}
.component_2 p {
  display: flex;
  gap: 83px;
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  /* text-align: center; */
  color: #000000;
  padding: 0 120px 0 97px;
}
.component_2 p span {
  /* width: 415px; */
  text-align: left;
}
.component_2 button {
  background-color: #55c2d8;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  padding: 5px 17px 6px 18px;
  border-radius: 18px;
  font-family: Oswald Regular;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.1em;
  color: #fff;
}

.component_3 {
  background: url('../assets/background-component3.png');
  position: relative;
  height: 100vh;
  width: 100%;
}
.layer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgba(140, 79, 42, 0.3);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.component_3 h2 {
  font-family: Oswald;
  font-weight: bold;
  font-size: 48px;
  line-height: 64px;
  text-align: center;
  color: #ffffff;
}

.component_3 button {
  background: #39c2d7;
  padding-left: 20px;
  width: 150px;
  height: 150px;
  color: #ffffff;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  font-size: 5rem;
  text-align: center;
}

.component_3 h3 {
  font-family: Source Sans Pro;
  font-weight: normal;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #ffffff;
}

footer {
  height: 170px;
  background: #464547;
}
footer .content {
  display: flex;
  justify-content: space-around;
  height: 70%;
  align-items: center;
  margin-left: 145px;
}
footer p:first-child {
  display: flex;
  align-items: center;
  gap: 15px;
  font-family: Source Sans Pro;
  font-weight: normal;
  font-size: 18px;
  line-height: 16px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #ffffff;
  padding-bottom: 14px;
}
footer p,
footer address,
footer address a {
  color: rgba(255, 255, 255, 0.4);
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
}

footer address a {
  display: block;
  text-decoration: none;
  padding-top: 25px;
}
footer p img {
  height: 20px;
  width: 20px;
}
footer address,
footer p:last-child {
  align-self: flex-end;
}
